<a href="https://colab.research.google.com/github/Piyu02-12/ds_codes/blob/main/Anova_and_Chisquare.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Anova

In [ ]:
# Load libraries
from sklearn import datasets
import pandas as pd
# Load digits dataset
iris = datasets.load_iris()

In [ ]:
df = pd.DataFrame(iris.data)

In [ ]:
df

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [ ]:
import scipy.stats as stats
stats.f_oneway(df.iloc[:,0], df.iloc[:,1],df.iloc[:,2], df.iloc[:,3])

F_onewayResult(statistic=482.91531656927964, pvalue=4.660592480454751e-159)

Chi square

In [ ]:
import numpy as np
from scipy.stats import chi2_contingency

In [ ]:
# Make 2-dimensional array
obs=np.array([[14,4],[0,10]])
obs

array([[14,  4],
       [ 0, 10]])

In [ ]:
# Chi2 contengency independence test  
chi2_contingency(obs)

(12.600000000000001, 0.0003857467556820071, 1, array([[9., 9.],
        [5., 5.]]))

so , chi2 value = 12.6000000000001 
p-value = 0.0003857
df = 1

In [ ]:
# Or 
stats, p, df, exp = chi2_contingency(obs)  
print('p_value =',p)

p_value = 0.0003857467556820071

p-value < α-value 
therefore Reject Null Hypothesis i.e. Dependence among categorical variables Thus Athlete and Smoking is somewhat/significantly related.